[nosetests]
verbosity=3
with-doctest=1
doctest-tests=1
with-coverage=1
ignore-files=viewer.py
[build_sphinx]
builder=html
[versioneer]
VCS=git
versionfile_source=nanshe/_version.py
versionfile_build=
tag_prefix=v
parentdir_prefix=nanshe-
[pep8]
# E402
#### PEP8 says we shouldn't have any global variables before imports.
#### Generally, this sounds like a good idea. However, it is nice to have our
#### `__author__` and `__date__` lines near our module or package docstring,
#### which technically are global variables. Hence, we ignore PEP8 here. To
#### quote PEP8, "Consistency with this style guide is important. Consistency
#### within a project is more important. Consistency within one module or
ignore=E402
